:root {
    --branco: #ffffff;
    --roxo: #500E9C;
    --laranja: #FE9103;
    --cinza: #2C2C2C;
    --titulo-h1-size: 48px;
    --tituto-h1-weight: 700;
    --subtitulo-h4-size: 28px;
    --subtitulo-h4-weight: 600;
}