h4{
    margin-block-end: 0;
    margin-block-start: 0;   
}
p{
    margin-block-end: 0;
    margin-block-start: 0;   
}

.banner{
    width: 100vw;
    padding: 107px 102px 131px;
    display: flex;
    justify-content: center;
    gap: 148px;
    color: var(--cinza);
}

.left-side{
    display: flex;
    flex-direction: column;
    gap: 34px;
    max-width: 586px;
}

.banner-title{
    max-width: 356px;
}

.banner-subtitle{
    line-height: 40px;
}
.purple{
    color: var(--roxo);
}
