@import url('../variables.css');
@import url('../globals.css');


.hero-banner {
    background-color: var(--branco);
    width: 100vw;
    height: 90vh;
    overflow: hidden; 
}

.hero-content {
    background-color: var(--roxo);
    color: var(--branco);
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content-left {
    text-wrap: nowrap;
    width: 40%;
    padding-top: 10%;     
    padding-left: 5%;      
}

.hero-content-right {
    width: 40%;
}

.hero-content-bottom {
    background-color: var(--roxo);
    width: 100%;
    height: 40%;
    border-bottom-left-radius: 90%; 
    border-bottom-right-radius: 90%; 
}

.hero-content h1 {
   font-weight: bold;
   font-size: 3rem; 
}

.hero-content p {
    margin-top: 5%;       
    font-size: 1.25rem;     
}

.hero-content img {
    padding-top: 50%;  
}

.hero-content span {
    color: var(--laranja);
}
